

 *{
   margin: 0; 
   padding: 0;
   box-sizing: border-box;
 }


.text-red{
  color: red;
}
.text-white{
  color:white ; 
}
.text-black{
  color : "black" ;
}

.bg-dark{
  background-color: black;
}